*{
    margin: 0;
    padding: 0;
}

body{
    border: solid red;
    height: 100vh;
}

article{
    border: solid black 5px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    text-align: center;
    color:white;
    background-color: blue;
    padding: 20px;
    margin: auto;
}

img{
    padding-top: 10px;
    width: 200px;
    height: 150px;
    object-fit: contain;
}
.imagen2{
    width: 100px;
    height: 100px;
    border: solid black;
    border-radius: 50%;
    object-fit: contain;
    background-color: black;
}

